@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
    
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-left{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: white;
}

.div-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

i{
    font-size: 3vw;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
}
i:hover{
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

#a-login{
    background-color: #1E1E8F;
    color: white;
    border: none;
    padding: 10px;
    width: 7vw;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

#a-login:hover{
    background-color: #0000ff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.aside-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F5F5;
}

form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-control{
box-shadow: 0px 4px 4px rgba(25, 0, 248, 0.4);
transition: 0.2s ease-in-out;
}
.form-control:hover{
transform: scale(1.05);
transition: 0.2s ease-in-out;
}


.btn-register {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #1E1E8F;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #1E1E8F;
}

.btn-register:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn-register::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1E1E8F;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}

