@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
    
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.aside-left{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(25, 0, 248, 0.5);
}

.user-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#input-file{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
   
    box-shadow: 0px 4px 4px rgba(25, 0, 248, 0.4);
}

.img-user-photo{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(25, 0, 248, 0.4);
}



.aside-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    flex-direction: column;
    gap: 20px;
}

form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-control{
box-shadow: 0px 4px 4px rgba(25, 0, 248, 0.4);
transition: 0.2s ease-in-out;
}
.form-control:hover{
transform: scale(1.05);
transition: 0.2s ease-in-out;
}


.btn-edit {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #1E1E8F;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #1E1E8F;
}

.btn-edit:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn-edit::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1E1E8F;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}

