@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
    background-color: #f2f2f2;
}

#major-main{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

#img-alquimis-nav{
    width: 13vw;
    height: 5vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

#ul-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.a-nav{
    color: #1E1E8F;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.a-nav:hover{
    color: #82D72E;
    border-bottom: #82D72E 2px solid;
    transition: 0.3s ease-in-out;
    
}

main{
background-color: #f2f2f2;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: #f2f2f2;
    height: 86vh;
    width: 100%;
}

#select-status{
    margin-left: 0.5vw;
    width: 50vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-icon-inputNome,.div-icon-inputQtdAtual,.div-icon-inputQtdMin,.div-icon-inputStatus{
    display: flex;
    flex-direction: row;

    
}
.ri-file-ai-line, .ri-hashtag, .ri-alert-line,.ri-checkbox-circle-line{
    font-size: 1.5vw;
    margin-right: 0.5vw;
    color: #1E1E8F;
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    padding: 7px;
    border-radius: 5px;
    width: 3vw;
}

#msg-input-value{
    color: #1E1E8F;
    background-color: yellowgreen;
}
input{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


