@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
    background-color: #f2f2f2;
}

#major-main{
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

#img-alquimis-nav{
    width: 13vw;
    height: 5vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

#ul-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.a-nav{
    color: #1E1E8F;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.a-nav:hover{
    color: #82D72E;
    border-bottom: #82D72E 2px solid;
    transition: 0.3s ease-in-out;
    
}

#h1-top{
    text-align: center;
    margin-top: 5vw;
}

#div-table{
    display: flex;
    justify-content: center;
    
}
#span-table{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 68vw;
    padding: 40px;
    border: white;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 5vw;
}


.tr-thead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 6vw;
}

.td-action-table{
    display: flex;
    gap: 12px;

}

.tr-tbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

thead th, tbody td {
    width: 10vw;
    text-align: left;
}

.td-action-table {
    width: 10vw; 
    justify-content: flex-start;
}



#btn-table-edit{
    background-color: #1E1E8F;
    color: white;
    border: none;
    padding: 10px;
    width: 5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#btn-table-edit:hover{
    background-color: #0000ff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#btn-table-delete{
    background-color: rgb(252, 94, 94);
    color: white;
    border: none;
    padding: 10px;
    width: 5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#btn-table-delete:hover{
    background-color: rgb(145, 13, 13);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#green-ball{
    width: 40vw;
    height: 40vw;
    background-color: #8ae52d;
    border-radius: 75% 25% 55% 35% / 50% 65% 35% 60%;
    position: relative;
    overflow: visible; 
    z-index: 1;
    left: 2vw;
    top: 2vw
}

#img-green-alquimis{
    position: absolute;
    border-radius: 15px;
    top: 8vw;
    left: 12vw; 
    width: 80%;
    height: auto;
    z-index: 2;
}

#container-main-mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30vw;
}
.span-aside-main-mid{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.a-add-product{
    text-decoration: none;
    background-color: #1E1E8F;
    text-align: center;
    color: white;
    border: none;
    padding: 15px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.a-add-product:hover{
    background-color: #0000ff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#p-aside-main-mid{
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    letter-spacing: 1px;
}

#h1-span-main-bottom{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

.h1-main-bottom{
    text-align: center;
    background-color: white;
    width: 40%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#main-bottom {
    width: 98%;
    padding: 20px;
}

.dashboard {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.small {
    height: 120px;
}

.chart-big {
    grid-column: span 3;
    height: 260px;
}

.circle-card {
    grid-column: 4 / 5;
    grid-row: 2 / 4; 
    height: 400px; 
}

.area-chart {
    grid-column: span 3;
    height: 220px;
}


/* Janela pop-up das tabelas do main top */
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    z-index: 999;
}


.popup-content {
    background: #fff;
    padding: 25px;
    width: 45vw;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 14px;
 
}



.popup-content h2 {
    margin: 0 0 10px;
    font-size: 20px;
}


.close {
    font-size: 26px;
    cursor: pointer;
    color: #444;
    align-self: flex-end;
}


.popup-content input,
.popup-content select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
}


.row-popup {
    display: flex;
    gap: 40px;
}


.btn-update {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #1E1E8F;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #1E1E8F;
}

.btn-update:hover {
  color: #ffffff;
  transform: scale(1.02);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn-update::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1E1E8F;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}

.form-pop-up{
    display: flex;
    flex-direction: column;
    gap:10px;
}

