@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    
    padding: 10px;
}